{% extends 'home/base1.html.twig' %}

{% block body %}
<footer class="footer">
    <div>
        <h3>Contact</h3>
        <p><i class="fa-regular fa-envelope" style="color: rgba(198, 167, 94, 1.00);"></i>  <u>Email:</u> contact@levelup.com</p>
        <p><i class="fa-solid fa-phone" style="color: rgba(198, 167, 94, 1.00);"></i>  Téléphone: +33 6 70 13 76 12</p>
        <p><i class="fa-solid fa-location-dot" style="color: rgba(198, 167, 94, 1.00);"></i>  Adresse: 6 Rue des Stages, Paris</p>
    </div>
    <div>
        <h3>Réseaux sociaux</h3>
        <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
        <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
        <a href="#"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
    </div>
</footer>
{% endblock %}
